.top-bar-section li.mega-menu {	
	position: initial;
}

li.mega-menu.columns-2 > ul > li {
	width: 50%;	
	position: relative;
}


li.mega-menu.columns-3 > ul > li {
	width: 33.33%;	
}

li.mega-menu.columns-4 > ul > li {
	width: 25%;	
}

li.mega-menu ul.sub-menu {
	/*TODO : change it with some variables*/
	/*background-color: #333333;*/
}

li.mega-menu > ul > li {
	border-right: 1px solid;
}

 li.mega-menu > ul > li:last-child {
 	border-right: none;
}


.top-bar-section .dropdown li.menu-item:not(.has-form):not(.active):hover > a {
	/*TODO : change it with some variables*/
	/*background-color: #333333;*/
	/*color: red;*/
}

.top-bar-section li.mega-menu ul li.menu-item-50 {
	min-width: 50%;
	width: 50%;
	left: 25%;
}

.top-bar-section li.mega-menu ul.menu-item-75 {
	min-width: 75%;
	width: 75%;
	left: 12.5%;
}

.contain-to-grid.full-screen {
	height: 100%;
}

.sticky-nav {
	position: fixed;
	top: -100px;
	opacity: 0;
	z-index: 99;
	transition : opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-webkit-transition : opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	/*-webkit-transform: translateY(-100px);
	transform:translateY(-100px);
	-webkit-animation: moveDown 0.65s ease-in-out forwards;
	animation: moveDown 0.65s ease-in-out forwards;	*/
}
.sticky-nav-show{
	top:0;
	opacity: 1;
}
/*.item-content .move-up {
 	-webkit-transform: translateY(25px);
 	transform: translateY(25px);
 	-webkit-animation: moveDown 0.65s ease forwards;
 	animation: moveDown 0.65s ease forwards;
}*/

@-webkit-keyframes moveDown {
 0% { }
 100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveDown {
 0% { }
 100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}



